.Item {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.Item input[type='checkbox'] {
  margin-right: 0.5rem;
  cursor: pointer;
}

.Item input[type='checkbox']:checked {
  accent-color: orange;
}

.done {
  text-decoration: line-through;
}

.delete-btn {
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  animation: all 0.3s ease-in;
}

.delete-btn:hover {
  transform: scale(1.1) rotate(-10deg);
}
